div.report-page {
  box-shadow: 1px 1px 1px 1px lightgrey;
  padding: 10px;
}

div.threat-section {
  margin-bottom: 30pt;
}

div.control-action-details {
  margin-left: 17pt;
  font-size: 13px;
}

span.related-threat {
  display: block;
  font-size: 13px;
}

div.inline-info {
  padding: 0;
}

p.report-header {
  display: none;
}

@media print {
  .collapsible {
    border: 0 !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
  }

  .collapsible-bodym, p.report-header {
    display: block !important;
  }

  p.report-header {
    position: absolute;
    top: 0;
    color: darkgray;
  }

  .remove-on-print, .print-icon {
    display: none;
  }
}
