body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

div.loading-data {
  text-align: center;
  padding: 10pt;
}

tr.empty-table td {
  text-align: center;
}
