body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

div.loading-data {
  text-align: center;
  padding: 10pt;
}

tr.empty-table td {
  text-align: center;
}

hr.section-separator {
  height: 3px;
  border: 0;
  background: lightgrey;
  margin-top: 20pt;
}

.label-title::before  {
  content: "\25FC";
  color: #26a69a;
  margin-right: 10px;
}

i.action-icon {
  cursor: pointer;
}

i.action-icon:hover {
  color: #2bbbad;
}

textarea {
  height: 8em;
}


